body {
  margin: 0px;
  background-color: black;
  color: rgb(230, 230, 230);
  text-rendering: optimizeLegibility;
  font-family: serif
}

body a {
  color: rgb(0, 162, 255);
  text-decoration: none;
}

body a:hover {
  color: rgb(0, 162, 255);
}

body .bg {
  min-height: 700px;
  background: url("head.png") no-repeat;
  background-position: 125% 2%;
  background-size: 50%;
}

body .bg .content {
  margin: 0 10% 0 0;
  padding-left: 15px;
}

h1 {
  font-weight: normal;
  padding: 0.5em 0 0 0;
  margin: 0px;
  font-size: 7rem;
}

p {
  font-size: 4rem;
  margin: 10px 15% 10px 0;
  padding: 2px 0;
}

@media (min-width: 576px) {
  body .bg .content {
    max-width: 540px;
  }

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  body .bg .content {
    max-width: 720px;
    margin: 0 auto 0 5%;
  }

  body .bg .content p {
    margin: 5px 20% 10px 0;
  }
}

@media (min-width: 1200px) {
  body .bg .content {
    max-width: 1140px;
    margin: 0 auto 0 5%;
  }

  body .bg .content p {
    margin: 5px 30% 10px 0;
  }
}