body {
  margin: 0px;
  background-color: black;
  color: rgb(230, 230, 230);
  text-rendering: optimizeLegibility;
  font-family: serif
}

body a {
  color: rgb(0, 162, 255);
  text-decoration: none;
}

body a:hover {
  color: rgb(0, 162, 255);
}

body .bg {
  min-height: 700px;
  background: url("head.png") no-repeat;
  background-position: 125% 2%;
  background-size: 50%;
}

body .content {
  margin: 0 10% 0 0;
  padding-left: 15px;
}

body .content h1 {
  font-weight: normal;
  padding: 0.5em 0 0 0;
  margin: 0px;
  font-size: 4rem;
}

.t1 {
  font-size: 29px;
}

.t2 {
  font-size: 2em;
}

.t3 {
  font-size: 3em;
}

.t4 {
  font-size: 1.25rem;
  color: red;
}

.t5 {
  font-size: 1.5rem;
}

.t6 {
  font-size: 1.75rem;
}

.t7 {
  font-size: 2rem;
}